
body {
  font-family: "Open Sans", sans-serif;
}


body.light-mode {
  --background-color: white;
  --text-color: black;
}

body.dark-mode {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}